<!--Knit Page coded by Catherine Nevin with pieces taken from team members as listed below April 14th, 2022-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="icon.png"/>
        <link rel="stylesheet" href="stylesheet.css"/>
        <title>Crafting Collective</title>
    </head>
    <body>
        <div class="header">
          <img src="header.png" alt="crafting collective image">
        </div>
<!-- Navigation  This section taken from Charlie-->
    <div id="nav">
        <div class="home">
            <a class="dropbtn" href="template_homepage.html">Home</a> <!--Home button-->
        </div>
        <div class="dropdown"> <!--Dropdown Groups-->
            <button class="dropbtn">Crafts</button>
            <div class="dropdown-content">
                <div class="link"><a href="knit.html">Knitting</a></div>
                <div class="link"><a href="crochet.html">Crochet</a></div>
                <div class="link"><a href="sewing.html">General Sewing</a></div>
                <div class="link"><a href="quilt.html">Quilting</a></div>
                <div class="link"><a href="embroider.html">Embroidery & Cross Stitch</a></div>
                <div class="link"><a href="leather.html">Leather Work</a></div>
                <div class="link"><a href="tie_dye.html">Tie-Dye</a></div>
            </div>
          </div>
            <div class="dropdown">
                <button class="dropbtn">Resources</button>
                <div class="dropdown-content">
                    <div class="link"><a href="temp.html">Annotated Resource Guide</a></div>
                    <div class="link"><a href="temp.html">Where to Buy Materials</a></div>
                </div>
          </div>
          <div class="about"> <!--About Us button-->
            <a class="dropbtn" href="temp.html">About Us</a>
          </div>
    </div>
    <div class="content">
        <p>Rainbow Baby Blanket<br>Category: Blanket<br>Level: Beginner<br> This blanket is simple and uses a lot of colors. You do not need to know any special stitches for this
            beginners blanket pattern.<br>Link:
        <a href="https://mypoppet.com.au/makes/rainbow-baby-blanket-knitting-pattern/" target="blank">Rainbow Blanket Pattern</a>
        </p>
    </div>
    <div class="content">
        <p>Leftover Scraps Blanket<br>Category: Blanket<br>Level: Beginner<br> Have You been working on too many projects to keep track of? Do you have small balls of yarn that
            won't amount to any larger design? Never fear! This pattern will show you how to make a blanket out of all your scraps.<br>
            Link:
        <a href="http://knittyprofessors.blogspot.com/2010/01/free-pattern-sediment-scraps-blanket.html" target="blank">Scraps Blanket Pattern</a>
        </p>
    </div>

    </body>
    <footer>Crafting Collective 2022</footer>
<br><br>
</html>